# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

# Node.js / React
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Docker
docker-compose.override.yml

wiki_giga_2024_50_MFT20_vectors_seed_123_alpha_0.75_eta_0.075_combined.txt

model.bin

PROMPT.md