@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format("woff2");
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(./MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2) format("woff2");
}